In [1]:
# import Libraries

!pip install kaggle
import kaggle

Requirement already satisfied: kaggle in c:\users\shrin\anaconda3\lib\site-packages (1.6.17)
Requirement already satisfied: requests in c:\users\shrin\anaconda3\lib\site-packages (from kaggle) (2.28.1)
Requirement already satisfied: python-slugify in c:\users\shrin\anaconda3\lib\site-packages (from kaggle) (5.0.2)
Requirement already satisfied: urllib3 in c:\users\shrin\anaconda3\lib\site-packages (from kaggle) (1.26.14)
Requirement already satisfied: six>=1.10 in c:\users\shrin\anaconda3\lib\site-packages (from kaggle) (1.16.0)
Requirement already satisfied: bleach in c:\users\shrin\anaconda3\lib\site-packages (from kaggle) (4.1.0)
Requirement already satisfied: tqdm in c:\users\shrin\anaconda3\lib\site-packages (from kaggle) (4.64.1)
Requirement already satisfied: certifi>=2023.7.22 in c:\users\shrin\anaconda3\lib\site-packages (from kaggle) (2024.12.14)
Requirement already satisfied: python-dateutil in c:\users\shrin\anaconda3\lib\site-packages (from kaggle) (2.8.2)
Requirement already satisfied: packaging in c:\users\shrin\anaconda3\lib\site-packages (from bleach->kaggle) (22.0)
Requirement already satisfied: webencodings in c:\users\shrin\anaconda3\lib\site-packages (from bleach->kaggle) (0.5.1)
Requirement already satisfied: text-unidecode>=1.3 in c:\users\shrin\anaconda3\lib\site-packages (from python-slugify->kaggle) (1.3)
Requirement already satisfied: idna<4,>=2.5 in c:\users\shrin\anaconda3\lib\site-packages (from requests->kaggle) (3.4)
Requirement already satisfied: charset-normalizer<3,>=2 in c:\users\shrin\anaconda3\lib\site-packages (from requests->kaggle) (2.0.4)
Requirement already satisfied: colorama in c:\users\shrin\anaconda3\lib\site-packages (from tqdm->kaggle) (0.4.6)

In [2]:
import os
os.environ['KAGGLE_CONFIG_DIR'] = r'C:\Users\shrin\.kaggle'

In [3]:
!echo %KAGGLE_CONFIG_DIR%

C:\Users\shrin\.kaggle

In [4]:
!kaggle datasets download ankitbansal06/retails-orders

403 - Forbidden - Permission 'datasets.get' was denied

In [5]:
#extract file from zip file
import zipfile
zip_ref = zipfile.ZipFile(r"C:\Users\shrin\Downloads\archive.zip") 
zip_ref.extractall() # extract file to dir
zip_ref.close() # close file

In [6]:
import os
print(os.getcwd())  # Prints the current working directory

C:\Users\shrin\Documents\Data Engineer Project - Python + SQL

In [7]:
#read data from the file and handle null values
import pandas as pd
df=pd.read_csv('orders.csv',na_values=['Not Available','unknown'])
df['Ship Mode'].unique()

array(['Second Class', 'Standard Class', nan, 'First Class', 'Same Day'],
      dtype=object)

In [14]:
#rename columns names ..make them lower case and replace space with underscore
df.rename(columns={'Order Id':'order_id', 'Product Id':'product_id'})
df.columns=df.columns.str.lower()
df.columns=df.columns.str.replace(' ','_')
df.head(5)

,order_id,order_date,ship_mode,segment,country,city,state,postal_code,region,category,sub_category,product_id,cost_price,list_price,quantity,discount_percent
0,1,2023-03-01,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Bookcases,FUR-BO-10001798,240,260,2,2
1,2,2023-08-15,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Chairs,FUR-CH-10000454,600,730,3,3
2,3,2023-01-10,Second Class,Corporate,United States,Los Angeles,California,90036,West,Office Supplies,Labels,OFF-LA-10000240,10,10,2,5
3,4,2022-06-18,Standard Class,Consumer,United States,Fort Lauderdale,Florida,33311,South,Furniture,Tables,FUR-TA-10000577,780,960,5,2
4,5,2022-07-13,Standard Class,Consumer,United States,Fort Lauderdale,Florida,33311,South,Office Supplies,Storage,OFF-ST-10000760,20,20,2,5

In [15]:
#derive new columns discount , sale price and profit
df['discount']=df['list_price']*df['discount_percent']*.01
df['sale_price']=df['list_price']-df['discount']
df['profit']=df['sale_price']-df['cost_price']
df.head()

,order_id,order_date,ship_mode,segment,country,city,state,postal_code,region,category,sub_category,product_id,cost_price,list_price,quantity,discount_percent,discount,sale_price,profit
0,1,2023-03-01,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Bookcases,FUR-BO-10001798,240,260,2,2,5.2,254.8,14.8
1,2,2023-08-15,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Chairs,FUR-CH-10000454,600,730,3,3,21.9,708.1,108.1
2,3,2023-01-10,Second Class,Corporate,United States,Los Angeles,California,90036,West,Office Supplies,Labels,OFF-LA-10000240,10,10,2,5,0.5,9.5,-0.5
3,4,2022-06-18,Standard Class,Consumer,United States,Fort Lauderdale,Florida,33311,South,Furniture,Tables,FUR-TA-10000577,780,960,5,2,19.2,940.8,160.8
4,5,2022-07-13,Standard Class,Consumer,United States,Fort Lauderdale,Florida,33311,South,Office Supplies,Storage,OFF-ST-10000760,20,20,2,5,1.0,19.0,-1.0

In [16]:
#convert order date from object data type to datetime
df.dtypes
df['order_date']=pd.to_datetime(df['order_date'],format=('%Y-%m-%d'))
df.dtypes

order_id                     int64
order_date          datetime64[ns]
ship_mode                   object
segment                     object
country                     object
city                        object
state                       object
postal_code                  int64
region                      object
category                    object
sub_category                object
product_id                  object
cost_price                   int64
list_price                   int64
quantity                     int64
discount_percent             int64
discount                   float64
sale_price                 float64
profit                     float64
dtype: object

In [17]:
#drop cost price list price and discount percent columns
df.drop(columns=['cost_price','list_price','discount_percent'],inplace=True)
df.head()

,order_id,order_date,ship_mode,segment,country,city,state,postal_code,region,category,sub_category,product_id,quantity,discount,sale_price,profit
0,1,2023-03-01,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Bookcases,FUR-BO-10001798,2,5.2,254.8,14.8
1,2,2023-08-15,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Chairs,FUR-CH-10000454,3,21.9,708.1,108.1
2,3,2023-01-10,Second Class,Corporate,United States,Los Angeles,California,90036,West,Office Supplies,Labels,OFF-LA-10000240,2,0.5,9.5,-0.5
3,4,2022-06-18,Standard Class,Consumer,United States,Fort Lauderdale,Florida,33311,South,Furniture,Tables,FUR-TA-10000577,5,19.2,940.8,160.8
4,5,2022-07-13,Standard Class,Consumer,United States,Fort Lauderdale,Florida,33311,South,Office Supplies,Storage,OFF-ST-10000760,2,1.0,19.0,-1.0

In [18]:
#load the data into sql server using replace option
df.head()

,order_id,order_date,ship_mode,segment,country,city,state,postal_code,region,category,sub_category,product_id,quantity,discount,sale_price,profit
0,1,2023-03-01,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Bookcases,FUR-BO-10001798,2,5.2,254.8,14.8
1,2,2023-08-15,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Chairs,FUR-CH-10000454,3,21.9,708.1,108.1
2,3,2023-01-10,Second Class,Corporate,United States,Los Angeles,California,90036,West,Office Supplies,Labels,OFF-LA-10000240,2,0.5,9.5,-0.5
3,4,2022-06-18,Standard Class,Consumer,United States,Fort Lauderdale,Florida,33311,South,Furniture,Tables,FUR-TA-10000577,5,19.2,940.8,160.8
4,5,2022-07-13,Standard Class,Consumer,United States,Fort Lauderdale,Florida,33311,South,Office Supplies,Storage,OFF-ST-10000760,2,1.0,19.0,-1.0

In [19]:
#load the data into sql server using append option
!pip install pandas pyodbc sqlalchemy

Requirement already satisfied: pandas in c:\users\shrin\anaconda3\lib\site-packages (1.5.3)
Requirement already satisfied: pyodbc in c:\users\shrin\anaconda3\lib\site-packages (4.0.34)
Requirement already satisfied: sqlalchemy in c:\users\shrin\anaconda3\lib\site-packages (1.4.39)
Requirement already satisfied: python-dateutil>=2.8.1 in c:\users\shrin\anaconda3\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: numpy>=1.21.0 in c:\users\shrin\anaconda3\lib\site-packages (from pandas) (1.23.5)
Requirement already satisfied: pytz>=2020.1 in c:\users\shrin\anaconda3\lib\site-packages (from pandas) (2022.7)
Requirement already satisfied: greenlet!=0.4.17 in c:\users\shrin\anaconda3\lib\site-packages (from sqlalchemy) (2.0.1)
Requirement already satisfied: six>=1.5 in c:\users\shrin\anaconda3\lib\site-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)

In [20]:
import sqlalchemy as sal
engine = sal.create_engine('mssql://LAPTOP-RN0BE0HM\SQLEXPRESS/master?driver=ODBC+DRIVER+17+FOR+SQL+SERVER')
conn=engine.connect()

In [24]:

#load the data into sql server using append option
df.to_sql('df_orders', con=conn , index=False, if_exists = 'append')

-1

In [22]:
df.columns

Index(['order_id', 'order_date', 'ship_mode', 'segment', 'country', 'city',
       'state', 'postal_code', 'region', 'category', 'sub_category',
       'product_id', 'quantity', 'discount', 'sale_price', 'profit'],
      dtype='object')